
  h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 1rem;
  }
  
  .dropdown-container {
    margin-bottom: 1.5rem;
  }
  
  .report-select {
    width: 100%;
    max-width: 20rem;
    padding: 0.75rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.3125rem;
    font-size: 1rem;
    background-color: #fff;
    cursor: pointer;
  }
  
  .report-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .form-container {
    margin-bottom: 1rem;
  }
  

  .report-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .chart-container {
    height: 20rem;
    background-color: #fff;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  
  