/* Responsive Design */
@media (max-width: 768px) {
    .dashboard {
      flex-direction: column;
      
    }
  
    .sidebar {
      width: 100%;
      height: auto;
    }
  
    .content {
      padding: 10px;
    }
  
    .map-container {
      flex: none;
      height: 50vh;
    }
  
    .table-container {
      flex: none;
      height: 40vh;
    }
  
    .table-container.reports-table {
      height: 50vh;
    }
  
    table {
      font-size: 0.9rem;
    }
  
    .download-report-btn {
      width: 100%;
      padding: 15px;
    }
  }